# Folders

# Ignore everything in the service directory
/service/*
# BUT allow specific files or folders back in
!/service/back_info.txt
!/service/load_sql_files.sh
!/service/db_loc_backup/
!/service/change_access
!/service/site_backup

vendor
.phpdoc
.vscode
build
docs

# Files

.phpdoc.dist.xml
game.loc.code-workspace
test.sql
tree.txt
phpDocumentor.phar
